@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

html {
  --scrollbarBG: transparent;
  --thumbBG: #7de7eb;

}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-200 dark:bg-[#0d1117];
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.bg-blue-gradient:hover {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #9dedf0 5.19%,
    #5ce1e6 25.94%,
    #33bbcf 90.29%
  );
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.splide__arrow {
  background-color: #ffffff !important;
  color: #000 !important;
  width: 38px !important;
  height: 38px !important;
  opacity: 0.75 !important;
  transition: opacity 0.5s ease;
}
.splide__arrow:hover {
  opacity: 1 !important;
}

@media screen and (max-width: 500px) {
  .splide__arrow{
    margin-top: 10px !important;
  }
  .splide__arrow--prev{
    left: 2px !important;

  }
}

.bg-black-gradient {
  background: rgb(27, 25, 25);
  background: linear-gradient(
    90deg,
    rgba(27, 25, 25, 1) 0%,
    rgba(23, 22, 22, 1) 50%,
    rgba(15, 15, 15, 1) 100%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* episode - videos header  */
.episode-header::after {
  color: #214d76;
  width: 220px;
  height: 2px;
  content: "";
  background-color: rgb(209 213 219);
  position: absolute;
  top: 65px;
}

/* Navbar css starts */
.navLink {
  @apply my-7 mx-5 inline-block border-gray-900 dark:border-slate-200 duration-75 hover:text-gray-900 dark:hover:text-slate-200 md:hover:border-b-2;
}
.active {
  @apply border-gray-900 dark:md:border-slate-200 text-gray-900 dark:text-slate-200 border-b-2;
}
.navDropdown {
  @apply border-gray-900 dark:border-slate-200 duration-75 group-hover:text-gray-900 dark:group-hover:text-slate-200 group-hover:border-b-2;
}
/* Navbar css ends */
.error-container {
  background-color: transparent;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

.error-container .ops {
  width: 60%;
  margin:0 auto 10% auto;
}

/* Customize the scroll bar track */
.navbar-style::-webkit-scrollbar {
  width: 6px;
}

.navbar-style::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Customize the scroll bar thumb */
.navbar-style::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 3px; 
}

/* Remove the arrows from the scroll bar */
.navbar-style::-webkit-scrollbar-button {
  display: none;
}

/* content toggle button */
.content-toggle {
  right: 1rem;
  top: 2rem;
  transform: translateX(0, -1rem);
  transform: translateY(-2rem,0);
}

/* Video clips styling */

.videos iframe {
  width: 100%;
  border-radius: 14px;
}

/* Additional styling for smaller devices */
@media screen and (max-width: 640px) {
  .error-container .ops {
    width: 90%;
  }
  .error-container {
    padding: 70px 10px 10px 10px;
  }
  .error-container h3 {
    font-size: 14px;
  }
  .error-text h1 {
    font-size: 8vw; /* Set a different font size for smaller devices */
  }
  .error-container {
    display: flex;
 flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding-top: 3%;
  }
  .error-text {
    text-align: center; 
    padding: 5%;
  }
  .trailer-container {
    margin-top: 10px;
  }
  .trailer-container .youtube {
    height: 250px;
  }
  .trailer-container .youtube iframe {
    width: 100% !important;
    height: 100% !important;
  }
  .main-container {
    flex-direction: column-reverse !important;
  }
  .img-container-outer {
    padding-bottom: 55%;
    position: relative;
  }
  .info-container-inner {width: 100%;}
  .img-container {
    right: 0 !important;
  }
  .main-container .info-container::after {
    background: none !important;
    content: none !important;
  }
  .info-container {padding-bottom: 10px !important;}
}

@media screen and (min-width: 640px) {
  .section-movie-banner {
    background-color: #1a1a1a;
  }
  .info-container {width: 60%;}
  .trailer-container .youtube iframe {
    width: 160%;
  }
}

@media screen and (min-width: 900px) {
  .trailer-container .youtube iframe {
    width: 220%;
  }
}

.main-container .info-container::after {
  background: linear-gradient(
    90deg,
    #101010 10%,
    hsla(0, 0%, 9%, 0.99) 20%,
    hsla(0, 0%, 9%, 0.98) 25%,
    hsla(0, 0%, 9%, 0.97) 35%,
    hsla(0, 0%, 9%, 0.95) 40%,
    hsla(0, 0%, 9%, 0.92) 45%,
    hsla(0, 0%, 9%, 0.9) 50%,
    hsla(0, 0%, 9%, 0.87) 55%,
    hsla(0, 0%, 9%, 0.82) 60%,
    hsla(0, 0%, 9%, 0.75) 65%,
    hsla(0, 0%, 9%, 0.63) 70%,
    hsla(0, 0%, 9%, 0.45) 75%,
    hsla(0, 0%, 9%, 0.27) 80%,
    hsla(0, 0%, 9%, 0.15) 85%,
    hsla(0, 0%, 9%, 0.08) 90%,
    hsla(0, 0%, 9%, 0.03) 95%,
    hsla(0, 0%, 9%, 0)
  );
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: -200px;
  top: 0;
  z-index: -1;
}

.episode-air-date::before {
  content: "";
  display: flex;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.alan-btn__chat-holder{
  max-height: 520px !important;
}